<div class="mainSlider mt-lg-5">
    <div class="swiper mainSlider-swiper d-none d-lg-flex">
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <a class="mainSlider-item">
                    <img class="w-p-100 h-p-100 object-fit-cover" loading="lazy"
                         src="~/client/assets/images/mainSlider/1.webp" />
                </a>
            </div>
            <div class="swiper-slide">
                <a class="mainSlider-item">
                    <img class="w-p-100 h-p-100 object-fit-cover" loading="lazy"
                         src="~/client/assets/images/mainSlider/2.webp" />
                </a>
            </div>
            <div class="swiper-slide">
                <a class="mainSlider-item">
                    <img class="w-p-100 h-p-100 object-fit-cover"
                         loading="lazy" src="~/client/assets/images/mainSlider/3.webp" />
                </a>
            </div>

            <div class="swiper-slide">
                <a class="mainSlider-item">
                    <img class="w-p-100 h-p-100 object-fit-cover" loading="lazy"
                         src="~/client/assets/images/mainSlider/4.webp" />
                </a>
            </div>
            <div class="swiper-slide">
                <a class="mainSlider-item">
                    <img class="w-p-100 h-p-100 object-fit-cover" loading="lazy"
                         src="~/client/assets/images/mainSlider/5.webp" />
                </a>
            </div>
            <div class="swiper-slide">
                <a class="mainSlider-item">
                    <img class="w-p-100 h-p-100 object-fit-cover" loading="lazy"
                         src="~/client/assets/images/mainSlider/6.webp" />
                </a>
            </div>
            <div class="swiper-slide">
                <a class="mainSlider-item">
                    <img class="w-p-100 h-p-100 object-fit-cover" loading="lazy"
                         src="~/client/assets/images/mainSlider/7.webp" />
                </a>
            </div>
            <div class="swiper-slide">
                <a class="mainSlider-item">
                    <img class="w-p-100 h-p-100 object-fit-cover" loading="lazy"
                         src="~/client/assets/images/mainSlider/8.webp" />
                </a>
            </div>


        </div>

        <div class="swiper-pagination"></div>

        <div class="swiper-btn">
            <div class="swiper-btn-prev icon-chevronRight"></div>
            <div class="swiper-btn-next icon-chevronLeft"></div>
        </div>
    </div>
    <div class="swiper mainSlider-swiper d-lg-none ">
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <a class="mainSlider-item">
                    <img class="w-p-100 h-p-100 object-fit-cover" loading="lazy"
                         src="~/client/assets/images/mainSlider/mobile/1.webp" />
                </a>
            </div>
            <div class="swiper-slide">
                <a class="mainSlider-item">
                    <img class="w-p-100 h-p-100 object-fit-cover" loading="lazy"
                         src="~/client/assets/images/mainSlider/mobile/2.webp" />
                </a>
            </div>
            <div class="swiper-slide">
                <a class="mainSlider-item">
                    <img class="w-p-100 h-p-100 object-fit-cover" loading="lazy"
                         src="~/client/assets/images/mainSlider/mobile/3.webp" />
                </a>
            </div>

            <div class="swiper-slide">
                <a class="mainSlider-item">
                    <img class="w-p-100 h-p-100 object-fit-cover" loading="lazy"
                         src="~/client/assets/images/mainSlider/mobile/4.webp" />
                </a>
            </div>
            <div class="swiper-slide">
                <a class="mainSlider-item">
                    <img class="w-p-100 h-p-100 object-fit-cover" loading="lazy"
                         src="~/client/assets/images/mainSlider/mobile/5.webp" />
                </a>
            </div>
            <div class="swiper-slide">
                <a class="mainSlider-item">
                    <img class="w-p-100 h-p-100 object-fit-cover" loading="lazy"
                         src="~/client/assets/images/mainSlider/mobile/6.webp" />
                </a>
            </div>
            <div class="swiper-slide">
                <a class="mainSlider-item">
                    <img class="w-p-100 h-p-100 object-fit-cover" loading="lazy"
                         src="~/client/assets/images/mainSlider/mobile/7.webp" />
                </a>
            </div>
            <div class="swiper-slide">
                <a class="mainSlider-item">
                    <img class="w-p-100 h-p-100 object-fit-cover" loading="lazy"
                         src="~/client/assets/images/mainSlider/mobile/8.webp" />
                </a>
            </div>


        </div>

        <div class="swiper-pagination"></div>
    </div>
</div>