<div class="banner-category px-4 mt-6 pb-10">
    <p class="mb-9 h3 d-flex justify-content-center">خرید بر اساس دسته‌بندی</p>

    <div class="d-flex justify-content-center flex-wrap row-gap-8 column-gap-12">
        <a class="d-flex flex-column align-items-center gap-2">
            <img loading="lazy" src="~/client/assets/images/category/1.webp" />
            <span class="text-strong">موبایل</span>
        </a>
        <a class="d-flex flex-column align-items-center gap-2">
            <img loading="lazy" src="~/client/assets/images/category/2.webp" />
            <span class="text-strong">کالای دیجیتال</span>
        </a>
        <a class="d-flex flex-column align-items-center gap-2">
            <img loading="lazy" src="~/client/assets/images/category/3.webp" />
            <span class="text-strong">خانه و آشپزخانه</span>
        </a>
        <a class="d-flex flex-column align-items-center gap-2">
            <img loading="lazy" src="~/client/assets/images/category/4.webp" />
            <span class="text-strong">مد و پوشاک</span>
        </a>
        <a class="d-flex flex-column align-items-center gap-2">
            <img loading="lazy" src="~/client/assets/images/category/5.webp" />
            <span class="text-strong">کالاهای سوپرمارکتی</span>
        </a>
        <a class="d-flex flex-column align-items-center gap-2">
            <img loading="lazy" src="~/client/assets/images/category/6.webp" />
            <span class="text-strong">کتاب، لوازم تحریر و هنر</span>
        </a>
        <a class="d-flex flex-column align-items-center gap-2">
            <img loading="lazy" src="~/client/assets/images/category/7.webp" />
            <span class="text-strong">اسباب بازی، کودک و نوزاد</span>
        </a>
        <a class="d-flex flex-column align-items-center gap-2">
            <img loading="lazy" src="~/client/assets/images/category/8.webp" />
            <span class="text-strong">زیبایی و سلامت</span>
        </a>
        <a class="d-flex flex-column align-items-center gap-2">
            <img loading="lazy" src="~/client/assets/images/category/9.webp" />
            <span class="text-strong">ورزش و سفر</span>
        </a>
        <a class="d-flex flex-column align-items-center gap-2">
            <img loading="lazy" src="~/client/assets/images/category/10.webp" />
            <span class="text-strong">ابزار آلات و تجهیزات</span>
        </a>
        <a class="d-flex flex-column align-items-center gap-2">
            <img loading="lazy" src="~/client/assets/images/category/11.webp" />
            <span class="text-strong">خودرو و موتورسیکلت</span>
        </a>
        <a class="d-flex flex-column align-items-center gap-2">
            <img loading="lazy" src="~/client/assets/images/category/12.webp" />
            <span class="text-strong">محصولات بومی و محلی</span>
        </a>

        <a class="d-flex flex-column align-items-center gap-2">
            <img loading="lazy" src="~/client/assets/images/category/13.webp" />
            <span class="text-strong">کارت هدیه</span>
        </a>
    </div>
</div>