<div class="main-services d-lg-flex justify-content-around mt-5 py-2 px-3 grid" style="--bs-columns:4">
    <a class="main-services-item d-flex flex-column gap-1 align-items-center">
        <img loading="lazy" src="~/client/assets/images/dkServices/1.png" />
        <span class="text-subtitle-strong ">مارکت پلیس جت</span>
    </a>
    <a class="main-services-item d-flex flex-column gap-1 align-items-center">
        <img loading="lazy" src="~/client/assets/images/dkServices/3.png" />
        <span class="text-subtitle-strong ">دریافت وام</span>
    </a>
    <a class="main-services-item d-flex flex-column gap-1 align-items-center">
        <img loading="lazy" src="~/client/assets/images/dkServices/2.png" />
        <span class="text-subtitle-strong "> حراج استایل</span>
    </a>
    <a class="main-services-item d-flex flex-column gap-1 align-items-center">
        <img loading="lazy" src="~/client/assets/images/dkServices/4.png" />
        <span class="text-subtitle-strong ">سوپرمارکت</span>
    </a>
    <a class="main-services-item d-flex flex-column gap-1 align-items-center">
        <img loading="lazy" src="~/client/assets/images/dkServices/5.png" />
        <span class="text-subtitle-strong ">گیم‌نت </span>
    </a>
    <a class="main-services-item d-flex flex-column gap-1 align-items-center">
        <img loading="lazy" src="~/client/assets/images/dkServices/6.png" />
        <span class="text-subtitle-strong ">دیجی‌پلاس</span>
    </a>
    <a class="main-services-item d-flex flex-column gap-1 align-items-center">
        <img loading="lazy" src="~/client/assets/images/dkServices/7.png" />
        <span class="text-subtitle-strong ">ارسال سریع</span>
    </a>


    <div class="main-services-item d-flex flex-column gap-1 align-items-center pointer "
         data-modal="dkServices">
        <div class="main-services-item-more bg-gray-100 radius-circle d-flex align-items-center justify-content-center">
            <i class="icon-moreHorizontal color-gray-400"></i>
        </div>

        <span class="text-subtitle-strong ">بیشتر </span>
    </div>

</div>



<div class="modals">
    <div class="modal radius-lg-large modal-dkServices overflow-hidden d-flex flex-column pt-12" data-id="dkServices">

        <div class="modal-header d-flex align-items-center mx-5 border-b-gray-200 position-fixed end-0 start-0 top-0 bg-white">
            <i class="icon-dkSmile color-primary-500 ms-2"></i>
            <span class="modal-title py-3">خدمات مارکت پلیس</span>
            <i class="modal-close icon-close me-auto color-gray-700 pointer"></i>
        </div>
        <div class="modal-content py-4 px-5 w-p-100 overflow-auto">
            <div class="mt-5">
                <div class="grid gap-3">
                    <a class="g-col-4 g-col-lg-2 main-services-item d-flex flex-column gap-1 align-items-center">
                        <img loading="lazy" src="~/client/assets/images/dkServices/1.png" />
                        <span class="text-subtitle-strong ">مارکت پلیس جت</span>
                    </a>
                    <a class="g-col-4 g-col-lg-2 main-services-item d-flex flex-column gap-1 align-items-center">
                        <img loading="lazy" src="~/client/assets/images/dkServices/3.png" />
                        <span class="text-subtitle-strong ">دریافت وام</span>
                    </a>
                    <a class="g-col-4 g-col-lg-2 main-services-item d-flex flex-column gap-1 align-items-center">
                        <img loading="lazy" src="~/client/assets/images/dkServices/2.png" />
                        <span class="text-subtitle-strong "> حراج استایل</span>
                    </a>
                    <a class="g-col-4 g-col-lg-2 main-services-item d-flex flex-column gap-1 align-items-center">
                        <img loading="lazy" src="~/client/assets/images/dkServices/4.png" />
                        <span class="text-subtitle-strong ">سوپرمارکت</span>
                    </a>
                    <a class="g-col-4 g-col-lg-2 main-services-item d-flex flex-column gap-1 align-items-center">
                        <img loading="lazy" src="~/client/assets/images/dkServices/5.png" />
                        <span class="text-subtitle-strong ">گیم‌نت </span>
                    </a>
                    <a class="g-col-4 g-col-lg-2 main-services-item d-flex flex-column gap-1 align-items-center">
                        <img loading="lazy" src="~/client/assets/images/dkServices/6.png" />
                        <span class="text-subtitle-strong ">دیجی‌پلاس</span>
                    </a>
                    <a class="g-col-4 g-col-lg-2 main-services-item d-flex flex-column gap-1 align-items-center">
                        <img loading="lazy" src="~/client/assets/images/dkServices/7.png" />
                        <span class="text-subtitle-strong ">ارسال سریع</span>
                    </a>
                </div>

                <div class="text-strong-2 color-gray-500 mt-6">
                    سرویس‌های گروه مارکت پلیس
                </div>

                <div class="servicesList grid gap-3 mt-2">
                    <a class="border-lg-gray-200 d-flex radius-large border-b-gray-200 gap-3 px-lg-3 py-3">
                        <img src="~/client/assets/images/dkServices/1.png" height="52" />
                        <div class="flex-grow-1">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="text-strong-3 color-gray-700">مارکت پلیس جت</span>
                                <i class="icon-arrowLeft color-gray-400"></i>
                            </div>
                            <div class="text-medium color-gray-400">خرید فوری از سوپرمارکت‌های اطراف</div>
                        </div>
                    </a>
                    <a class="border-lg-gray-200 d-flex radius-large border-b-gray-200 gap-3 px-lg-3 py-3">
                        <img src="~/client/assets/images/dkServices/1.png" height="52" />
                        <div class="flex-grow-1">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="text-strong-3 color-gray-700">مارکت پلیس جت</span>
                                <i class="icon-arrowLeft color-gray-400"></i>
                            </div>
                            <div class="text-medium color-gray-400">خرید فوری از سوپرمارکت‌های اطراف</div>
                        </div>
                    </a>
                    <a class="border-lg-gray-200 d-flex radius-large border-b-gray-200 gap-3 px-lg-3 py-3">
                        <img src="~/client/assets/images/dkServices/1.png" height="52" />
                        <div class="flex-grow-1">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="text-strong-3 color-gray-700">مارکت پلیس جت</span>
                                <i class="icon-arrowLeft color-gray-400"></i>
                            </div>
                            <div class="text-medium color-gray-400">خرید فوری از سوپرمارکت‌های اطراف</div>
                        </div>
                    </a>
                    <a class="border-lg-gray-200 d-flex radius-large border-b-gray-200 gap-3 px-lg-3 py-3">
                        <img src="~/client/assets/images/dkServices/1.png" height="52" />
                        <div class="flex-grow-1">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="text-strong-3 color-gray-700">مارکت پلیس جت</span>
                                <i class="icon-arrowLeft color-gray-400"></i>
                            </div>
                            <div class="text-medium color-gray-400">خرید فوری از سوپرمارکت‌های اطراف</div>
                        </div>
                    </a>
                    <a class="border-lg-gray-200 d-flex radius-large border-b-gray-200 gap-3 px-lg-3 py-3">
                        <img src="~/client/assets/images/dkServices/1.png" height="52" />
                        <div class="flex-grow-1">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="text-strong-3 color-gray-700">مارکت پلیس جت</span>
                                <i class="icon-arrowLeft color-gray-400"></i>
                            </div>
                            <div class="text-medium color-gray-400">خرید فوری از سوپرمارکت‌های اطراف</div>
                        </div>
                    </a>
                    <a class="border-lg-gray-200 d-flex radius-large border-b-gray-200 gap-3 px-lg-3 py-3">
                        <img src="~/client/assets/images/dkServices/1.png" height="52" />
                        <div class="flex-grow-1">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="text-strong-3 color-gray-700">مارکت پلیس جت</span>
                                <i class="icon-arrowLeft color-gray-400"></i>
                            </div>
                            <div class="text-medium color-gray-400">خرید فوری از سوپرمارکت‌های اطراف</div>
                        </div>
                    </a>
                    <a class="border-lg-gray-200 d-flex radius-large border-b-gray-200 gap-3 px-lg-3 py-3">
                        <img src="~/client/assets/images/dkServices/1.png" height="52" />
                        <div class="flex-grow-1">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="text-strong-3 color-gray-700">مارکت پلیس جت</span>
                                <i class="icon-arrowLeft color-gray-400"></i>
                            </div>
                            <div class="text-medium color-gray-400">خرید فوری از سوپرمارکت‌های اطراف</div>
                        </div>
                    </a>
                    <a class="border-lg-gray-200 d-flex radius-large border-b-gray-200 gap-3 px-lg-3 py-3">
                        <img src="~/client/assets/images/dkServices/1.png" height="52" />
                        <div class="flex-grow-1">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="text-strong-3 color-gray-700">مارکت پلیس جت</span>
                                <i class="icon-arrowLeft color-gray-400"></i>
                            </div>
                            <div class="text-medium color-gray-400">خرید فوری از سوپرمارکت‌های اطراف</div>
                        </div>
                    </a>
                    <a class="border-lg-gray-200 d-flex radius-large border-b-gray-200 gap-3 px-lg-3 py-3">
                        <img src="~/client/assets/images/dkServices/1.png" height="52" />
                        <div class="flex-grow-1">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="text-strong-3 color-gray-700">مارکت پلیس جت</span>
                                <i class="icon-arrowLeft color-gray-400"></i>
                            </div>
                            <div class="text-medium color-gray-400">خرید فوری از سوپرمارکت‌های اطراف</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="stories-modal position-fixed w-p-100 h-p-100 top-0 d-flex align-items-center justify-content-center">
        <div class="stories-modal-bg position-absolute top-0 bottom-0 end-0 start-0"></div>
        <div class="stories-modal-swiper-btn swiper-btn-prev icon-chevronRight"></div>
        <div class="swiper storiesModal-swiper h-p-100">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="d-flex flex-column h-p-100">
                        <div class="flex-grow-1 position-relative">
                            <div class="stories-header-bg position-absolute top-0 start-0 end-0 z-1 "></div>
                            <div class="stories-header z-1 position-absolute top-0 end-0 start-0 px-5 pt-4">
                                <div class="d-flex align-items-center color-white">
                                    <i class="icon-arrowRight pointer stories-modal-close"></i>
                                    <a class="me-5 d-flex align-items-center">
                                        <img src="~/client/assets/images/stories/profile/1.jpg" height="40"
                                             class="radius-circle" />
                                        <span class="me-2 h5 color-gray-100">Alireza</span>
                                    </a>
                                    <button class="me-auto h-9 bg-white px-4 text-button-1 radius-medium">
                                        دنبال
                                        کن
                                    </button>
                                </div>
                            </div>

                            <div class="stories-video-container h-p-100 w-p-100 position-relative">
                                <video-js class="h-p-100 w-p-100 stories-video"
                                          src="~/client/assets/video/stories/1.mp4"></video-js>
                                <i class="icon-mute color-white d-none video-mute position-absolute top-0 w-p-100 h-p-100 d-flex align-items-center justify-content-center"></i>
                            </div>


                            <div class="position-absolute bottom-0 end-0 start-0 px-5">
                                <div class="stories-bottom-bg position-absolute top-0 start-0 end-0 bottom-0"></div>
                                <div class="d-flex justify-content-between align-items-end gap-4 gap-lg-4 position-relative">
                                    <h5 class="h5 color-gray-100">کهن دژ خفن تر از دژ</h5>
                                    <div class="color-white d-flex flex-column gap-4">
                                        <div class="d-flex flex-column align-items-center pointer">
                                            <i class="icon-favorite"></i>
                                            <span class="text-strong-2 fanumber ">98</span>
                                        </div>
                                        <div class="d-flex flex-column align-items-center pointer">
                                            <i class="icon-comment"></i>
                                            <span class="text-strong-2 fanumber ">98</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center w-p-100  gap-1">
                                    <div class="w-p-100 px-1 ltr">
                                        <div class="video-progress w-p-100">
                                        </div>
                                    </div>


                                    <div class="text-subtitle-strong w-12 color-white videoTime text-start z-1">
                                        ۰۰:۰۰
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="p-2 d-flex gap-2 bg-gray-900 flex-grow-0">
                            <div class="stories-product-item pointer d-flex bg-white radius-medium overflow-hidden">
                                <img src="~/client/assets/images/product/300/45.jpg" height="60" />
                                <span class="text-truncate-2 px-2 pt-2 text-strong">
                                    نور ثابت ال ای دی دی بی کی مدل
                                    BGD015
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="d-flex flex-column h-p-100">
                        <div class="flex-grow-1 position-relative">
                            <div class="stories-header-bg position-absolute top-0 start-0 end-0 z-1 "></div>
                            <div class="stories-header z-1 position-absolute top-0 end-0 start-0 px-5 pt-4">
                                <div class="d-flex align-items-center color-white">
                                    <i class="icon-arrowRight pointer stories-modal-close"></i>
                                    <a class="me-5 d-flex align-items-center">
                                        <img src="~/client/assets/images/stories/profile/1.jpg" height="40"
                                             class="radius-circle" />
                                        <span class="me-2 h5 color-gray-100">Alireza</span>
                                    </a>
                                    <button class="me-auto h-9 bg-white px-4 text-button-1 radius-medium">
                                        دنبال
                                        کن
                                    </button>
                                </div>
                            </div>

                            <div class="stories-video-container h-p-100 w-p-100 position-relative">
                                <video-js class="h-p-100 w-p-100 stories-video"
                                          src="~/client/assets/video/stories/1.mp4"></video-js>
                                <i class="icon-mute color-white d-none video-mute position-absolute top-0 w-p-100 h-p-100 d-flex align-items-center justify-content-center"></i>
                            </div>


                            <div class="position-absolute bottom-0 end-0 start-0 px-5">
                                <div class="stories-bottom-bg position-absolute top-0 start-0 end-0 bottom-0"></div>
                                <div class="d-flex justify-content-between align-items-end gap-4 gap-lg-4 position-relative">
                                    <h5 class="h5 color-gray-100">کهن دژ خفن تر از دژ</h5>
                                    <div class="color-white d-flex flex-column gap-4">
                                        <div class="d-flex flex-column align-items-center pointer">
                                            <i class="icon-favorite"></i>
                                            <span class="text-strong-2 fanumber ">98</span>
                                        </div>
                                        <div class="d-flex flex-column align-items-center pointer">
                                            <i class="icon-comment"></i>
                                            <span class="text-strong-2 fanumber ">98</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center w-p-100  gap-1">
                                    <div class="w-p-100 px-1 ltr">
                                        <div class="video-progress w-p-100">
                                        </div>
                                    </div>


                                    <div class="text-subtitle-strong w-12 color-white videoTime text-start z-1">
                                        ۰۰:۰۰
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="p-2 d-flex gap-2 bg-gray-900 flex-grow-0">
                            <div class="stories-product-item pointer d-flex bg-white radius-medium overflow-hidden">
                                <img src="~/client/assets/images/product/300/45.jpg" height="60" />
                                <span class="text-truncate-2 px-2 pt-2 text-strong">
                                    نور ثابت ال ای دی دی بی کی مدل
                                    BGD015
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="stories-modal-swiper-btn swiper-btn-next icon-chevronLeft"></div>
    </div>

</div>