<div class="amazing-carousel py-3 py-lg-5 mt-5 radius-lg-large">
    <div class="swiper amazing-carousel-swiper h-p-100">
        <div class="swiper-wrapper">
            <div class="swiper-slide ">
                <a class="amazing-carousel-first-item h-p-100 me-5 d-flex flex-column align-items-center justify-content-center">
                    <img src="~/client/assets/images/amazingCarousel/Amazings.svg" />
                    <img class="amazing-carousel-first-item-imgBox object-fit-contain"
                         src="~/client/assets/images/amazingCarousel/box.png" />
                    <div class="d-flex align-items-center mt-1 mazing-carousel-first-item-showAll color-white">
                        <span class="text-strong-2">مشاهده همه</span>
                        <i class="icon-chevronLeft icon-fs-medium"></i>
                    </div>
                </a>
            </div>

            <div class="swiper-slide">
                <a class="amazing-carousel-item h-p-100 py-3 px-4 bg-white d-flex flex-column">
                    <img loading="lazy" class="amazing-carousel-item-img mb-2"
                         src="~/client/assets/images/product/300/1.webp" />

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="discount-percent d-flex align-items-center justify-content-center bg-error-100 color-white radius-large ">
                            <span class="text-strong fanumber">27٪</span>
                        </div>

                        <div class="d-flex align-items-center gap-2">
                            <span class="h5 fanumber currency">11500000</span>
                            <i class="icon-toman icon-fs-small color-gray-700"></i>

                        </div>
                    </div>


                    <div class="align-self-end">
                        <span class="fanumber currency color-gray-300 text-medium text-decoration-line-through">12500000</span>
                    </div>
                </a>
            </div>

            <div class="swiper-slide">
                <a class="amazing-carousel-item h-p-100 py-3 px-4 bg-white d-flex flex-column">
                    <div class="position-relative">
                        <img loading="lazy" class="amazing-carousel-item-img mb-2"
                             src="~/client/assets/images/product/300/2.webp" />
                        <div class="amazing-carousel-item-addBasket  position-absolute bottom-0  mb-2 me-2">
                            <div class="radius-circle amazing-carousel-item-addBasket-container bg-white">
                                <i class="icon-addSimple color-primary-500"></i>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="discount-percent d-flex align-items-center justify-content-center bg-error-100 color-white radius-large ">
                            <span class="text-strong fanumber">23٪</span>
                        </div>

                        <div class="d-flex align-items-center gap-2">
                            <span class="h5 fanumber currency">14500000</span>
                            <i class="icon-toman icon-fs-small color-gray-700"></i>

                        </div>
                    </div>


                    <div class="align-self-end">
                        <span class="fanumber currency color-gray-300 text-medium text-decoration-line-through">17500000</span>
                    </div>

                    <div class="position-relative bg-gray-100 h-1 radius-medium mt-auto">
                        <div class="position-absolute bg-primary-700 h-p-100 start-0 radius-medium"
                             style="width: 40%;"></div>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a class="amazing-carousel-item h-p-100 py-3 px-4 bg-white d-flex flex-column">
                    <img loading="lazy" class="amazing-carousel-item-img mb-2"
                         src="~/client/assets/images/product/300/3.webp" />

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="discount-percent d-flex align-items-center justify-content-center bg-error-100 color-white radius-large ">
                            <span class="text-strong fanumber">23٪</span>
                        </div>

                        <div class="d-flex align-items-center gap-2">
                            <span class="h5 fanumber currency">1500000</span>
                            <i class="icon-toman icon-fs-small color-gray-700"></i>

                        </div>
                    </div>


                    <div class="align-self-end">
                        <span class="fanumber currency color-gray-300 text-medium text-decoration-line-through">1500000</span>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a class="amazing-carousel-item h-p-100 py-3 px-4 bg-white d-flex flex-column">
                    <img loading="lazy" class="amazing-carousel-item-img mb-2"
                         src="~/client/assets/images/product/300/4.webp" />

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="discount-percent d-flex align-items-center justify-content-center bg-error-100 color-white radius-large ">
                            <span class="text-strong fanumber">23٪</span>
                        </div>

                        <div class="d-flex align-items-center gap-2">
                            <span class="h5 fanumber currency">14500000</span>
                            <i class="icon-toman icon-fs-small color-gray-700"></i>

                        </div>
                    </div>


                    <div class="align-self-end">
                        <span class="fanumber currency color-gray-300 text-medium text-decoration-line-through">17500000</span>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a class="amazing-carousel-item h-p-100 py-3 px-4 bg-white d-flex flex-column">
                    <img loading="lazy" class="amazing-carousel-item-img mb-2"
                         src="~/client/assets/images/product/300/5.webp" />

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="discount-percent d-flex align-items-center justify-content-center bg-error-100 color-white radius-large ">
                            <span class="text-strong fanumber">23٪</span>
                        </div>

                        <div class="d-flex align-items-center gap-2">
                            <span class="h5 fanumber currency">14500000</span>
                            <i class="icon-toman icon-fs-small color-gray-700"></i>

                        </div>
                    </div>


                    <div class="align-self-end">
                        <span class="fanumber currency color-gray-300 text-medium text-decoration-line-through">17500000</span>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a class="amazing-carousel-item h-p-100 py-3 px-4 bg-white d-flex flex-column">
                    <img loading="lazy" class="amazing-carousel-item-img mb-2"
                         src="~/client/assets/images/product/300/6.webp" />

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="discount-percent d-flex align-items-center justify-content-center bg-error-100 color-white radius-large ">
                            <span class="text-strong fanumber">23٪</span>
                        </div>

                        <div class="d-flex align-items-center gap-2">
                            <span class="h5 fanumber currency">14500000</span>
                            <i class="icon-toman icon-fs-small color-gray-700"></i>

                        </div>
                    </div>


                    <div class="align-self-end">
                        <span class="fanumber currency color-gray-300 text-medium text-decoration-line-through">17500000</span>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a class="amazing-carousel-item h-p-100 py-3 px-4 bg-white d-flex flex-column">
                    <img loading="lazy" class="amazing-carousel-item-img mb-2"
                         src="~/client/assets/images/product/300/7.webp" />

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="discount-percent d-flex align-items-center justify-content-center bg-error-100 color-white radius-large ">
                            <span class="text-strong fanumber">23٪</span>
                        </div>

                        <div class="d-flex align-items-center gap-2">
                            <span class="h5 fanumber currency">14500000</span>
                            <i class="icon-toman icon-fs-small color-gray-700"></i>

                        </div>
                    </div>


                    <div class="align-self-end">
                        <span class="fanumber currency color-gray-300 text-medium text-decoration-line-through">17500000</span>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a class="amazing-carousel-item h-p-100 py-3 px-4 bg-white d-flex flex-column">
                    <img loading="lazy" class="amazing-carousel-item-img mb-2"
                         src="~/client/assets/images/product/300/8.webp" />

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="discount-percent d-flex align-items-center justify-content-center bg-error-100 color-white radius-large ">
                            <span class="text-strong fanumber">23٪</span>
                        </div>

                        <div class="d-flex align-items-center gap-2">
                            <span class="h5 fanumber currency">14500000</span>
                            <i class="icon-toman icon-fs-small color-gray-700"></i>

                        </div>
                    </div>


                    <div class="align-self-end">
                        <span class="fanumber currency color-gray-300 text-medium text-decoration-line-through">17500000</span>
                    </div>
                </a>
            </div>

            <div class="swiper-slide">
                <a class="amazing-carousel-last-item d-flex flex-column align-items-center justify-content-center h-p-100 bg-white">
                    <div class="amazing-carousel-last-item-icon radius-circle p-3">
                        <i class="icon-arrowLeft icon-fs-large color-secondary-500"></i>
                    </div>

                    <span class="color-gray-700 text-strong-3 mt-3">مشاهده همه</span>
                </a>
            </div>

        </div>

        <div class="swiper-btn-prev icon-chevronRight"></div>
        <div class="swiper-btn-next icon-chevronLeft"></div>
    </div>
</div>