<div class="mainMenu-list position-absolute w-p-auto bg-white overflow-hidden ">
    <div class="mainMenu-list-categories overflow-auto d-none d-lg-block">

        <a class="mainMenu-list-categoryTitle hovered gap-2 d-flex align-items-center text-strong py-3 px-2 color-gray-700"
           data-id="1">
            <i class="icon-mobile  icon-fs-medium"></i>
            موبایل
        </a>
        <a class="mainMenu-list-categoryTitle gap-2 d-flex align-items-center text-strong py-3 px-2 color-gray-700"
           data-id="2">
            <i class="icon-electronic  icon-fs-medium"></i>
            کالای دیجیتال
        </a>
        <a class="mainMenu-list-categoryTitle gap-2 d-flex align-items-center text-strong py-3 px-2 color-gray-700"
           data-id="3">
            <i class="icon-homeKitchen  icon-fs-medium"></i>
            خانه و آشپزخانه
        </a>
        <a class="mainMenu-list-categoryTitle gap-2 d-flex align-items-center text-strong py-3 px-2 color-gray-700"
           data-id="1">
            <i class="icon-fresh  icon-fs-medium"></i>
            کالاهای سوپرمارکتی
        </a>
        <a class="mainMenu-list-categoryTitle gap-2 d-flex align-items-center text-strong py-3 px-2 color-gray-700"
           data-id="1">
            <i class="icon-fashion  icon-fs-medium"></i>
            مد و پوشاک
        </a>
        <a class="mainMenu-list-categoryTitle gap-2 d-flex align-items-center text-strong py-3 px-2 color-gray-700"
           data-id="1">
            <i class="icon-bookStationary  icon-fs-medium"></i>
            کتاب، لوازم تحریر و هنر
        </a>
        <a class="mainMenu-list-categoryTitle gap-2 d-flex align-items-center text-strong py-3 px-2 color-gray-700"
           data-id="1">
            <i class="icon-kidsToy  icon-fs-medium"></i>
            اسباب بازی، کودک و نوزاد
        </a>
        <a class="mainMenu-list-categoryTitle gap-2 d-flex align-items-center text-strong py-3 px-2 color-gray-700"
           data-id="1">
            <i class="icon-beauty  icon-fs-medium"></i>
            زیبایی و سلامت
        </a>
        <a class="mainMenu-list-categoryTitle gap-2 d-flex align-items-center text-strong py-3 px-2 color-gray-700"
           data-id="1">
            <i class="icon-giftCard  icon-fs-medium"></i>
            کارت هدیه
        </a>
        <a class="mainMenu-list-categoryTitle gap-2 d-flex align-items-center text-strong py-3 px-2 color-gray-700"
           data-id="1">
            <i class="icon-sportOutdoor  icon-fs-medium"></i>
            ورزش و سفر
        </a>
        <a class="mainMenu-list-categoryTitle gap-2 d-flex align-items-center text-strong py-3 px-2 color-gray-700"
           data-id="1">
            <i class="icon-tools  icon-fs-medium"></i>
            ابزارآلات و تجهیزات
        </a>
        <a class="mainMenu-list-categoryTitle gap-2 d-flex align-items-center text-strong py-3 px-2 color-gray-700"
           data-id="1">
            <i class="icon-vehicles  icon-fs-medium"></i>
            خودرو و موتورسیکلت
        </a>
        <a class="mainMenu-list-categoryTitle gap-2 d-flex align-items-center text-strong py-3 px-2 color-gray-700"
           data-id="1">
            <i class="icon-nativeBusiness  icon-fs-medium"></i>
            محصولات بومی و محلی
        </a>

    </div>

    <div class="mainMenu-sublist flex-grow-1 overflow-auto border-b-gray-200 border-lg-none">

        <div class="mainMenu-sublist-content p-lg-5 active flex-column" data-id="1">
            <a class="mainMenu-list-categoryTitle d-lg-none d-flex justify-content-between align-items-center text-strong-3 px-5"
               data-id="1">
                موبایل
                <i class="icon-chevronDown"></i>
            </a>

            <div class="mainMenu-sublist-menulist">
                <a class="d-flex align-items-center color-secondary-700 gap-1 mt-5 mt-lg-0 mb-5 text-strong">
                    همه محصولات موبایل
                    <i class="icon-chevronLeft icon-fs-small"></i>
                </a>

                <ul class="d-flex flex-column flex-wrap">
                    <li class="py-1 mainMenu-sublist-item color-gray-900 mainMenu-sublist-item-main mb-2 d-flex align-items-center text-strong-2">
                        <a class="text-truncate" href="#">برندهای مختلف گوشی موبایل</a>
                        <i class="icon-chevronLeft icon-fs-small"></i>
                    </li>


                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی اپل</a>
                    </li>

                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی سامسونگ</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی شیائومی</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی نوکیا</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی هواوی</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی آنر</a>
                    </li>

                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی موتورلا</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی ریلمی</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی ناتینگ</a>
                    </li>

                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی ارد</a>
                    </li>

                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی جی پلاس</a>
                    </li>

                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی وان پلاس</a>
                    </li>

                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی جی ال ایکس</a>
                    </li>




                    <li class="py-1 mainMenu-sublist-item color-gray-900 mainMenu-sublist-item-main mb-2 d-flex align-items-center text-strong-2">
                        <a class="text-truncate" href="#">گوشی براساس قیمت</a>
                        <i class="icon-chevronLeft icon-fs-small"></i>
                    </li>

                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی تا 2 میلیون تومان</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی تا 5 میلیون تومان</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی تا 7 میلیون تومان</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی تا 15 میلیون تومان</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی بالای 15 میلیون تومان</a>
                    </li>

                    <li class="py-1 mainMenu-sublist-item color-gray-900 mainMenu-sublist-item-main mb-2 d-flex align-items-center text-strong-2">
                        <a class="text-truncate" href="#">گوشی براساس حافظه داخلی</a>
                        <i class="icon-chevronLeft icon-fs-small"></i>
                    </li>

                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی تا 16 گیگابایت</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی تا 32 گیگابایت</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی تا 64 گیگابایت</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی تا 128 گیگابایت</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی تا 256 گیگابایت</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی تا 1 ترابایت</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-900 mainMenu-sublist-item-main mb-2 d-flex align-items-center text-strong-2">
                        <a class="text-truncate" href="#">رزولوشن عکس</a>
                        <i class="icon-chevronLeft icon-fs-small"></i>
                    </li>

                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#"> تا 13 مگاپیکسل</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#"> تا 16 مگاپیکسل</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#"> تا 48 مگاپیکسل</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#"> تا 64 مگاپیکسل</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#"> تا 128 مگاپیکسل</a>
                    </li>

                    <li class="py-1 mainMenu-sublist-item color-gray-900 mainMenu-sublist-item-main mb-2 d-flex align-items-center text-strong-2">
                        <a class="text-truncate" href="#">گوشی براساس کاربری</a>
                        <i class="icon-chevronLeft icon-fs-small"></i>
                    </li>

                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی اقتصادی</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی میان رده</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی دانش آموزی</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی گیمینگ</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی پرچمدار</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی ضدآب</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی مناسب عکاسی</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی 5G</a>
                    </li>

                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">دو سیم کارت</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">Android(اندروید)</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">IOS</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">سایر سیستم عامل ها</a>
                    </li>


                </ul>
            </div>
        </div>
        <div class="mainMenu-sublist-content p-lg-5  flex-column" data-id="2">
            <a class="mainMenu-list-categoryTitle d-lg-none d-flex justify-content-between align-items-center text-strong-3 px-5"
               data-id="1">
                کالای دیجیتال
                <i class="icon-chevronDown"></i>
            </a>
            <div class="mainMenu-sublist-menulist">
                <a class="d-flex align-items-center color-secondary-700 gap-1 mt-5 mt-lg-0 mb-5 text-strong">
                    همه محصولات کالای دیجیتال
                    <i class="icon-chevronLeft icon-fs-small"></i>
                </a>

                <ul class="d-flex flex-column flex-wrap">
                    <li class="py-1 mainMenu-sublist-item color-gray-900 mainMenu-sublist-item-main mb-2 d-flex align-items-center text-strong-2">
                        <a class="text-truncate" href="#">برندهای مختلف گوشی موبایل</a>
                        <i class="icon-chevronLeft icon-fs-small"></i>
                    </li>


                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی اپل</a>
                    </li>

                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی سامسونگ</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی شیائومی</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی نوکیا</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی هواوی</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی آنر</a>
                    </li>

                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی موتورلا</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی ریلمی</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی ناتینگ</a>
                    </li>

                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی ارد</a>
                    </li>

                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی جی پلاس</a>
                    </li>

                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی وان پلاس</a>
                    </li>

                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی جی ال ایکس</a>
                    </li>




                    <li class="py-1 mainMenu-sublist-item color-gray-900 mainMenu-sublist-item-main mb-2 d-flex align-items-center text-strong-2">
                        <a class="text-truncate" href="#">گوشی براساس قیمت</a>
                        <i class="icon-chevronLeft icon-fs-small"></i>
                    </li>

                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی تا 2 میلیون تومان</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی تا 5 میلیون تومان</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی تا 7 میلیون تومان</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی تا 15 میلیون تومان</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی بالای 15 میلیون تومان</a>
                    </li>

                    <li class="py-1 mainMenu-sublist-item color-gray-900 mainMenu-sublist-item-main mb-2 d-flex align-items-center text-strong-2">
                        <a class="text-truncate" href="#">گوشی براساس حافظه داخلی</a>
                        <i class="icon-chevronLeft icon-fs-small"></i>
                    </li>

                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی تا 16 گیگابایت</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی تا 32 گیگابایت</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی تا 64 گیگابایت</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی تا 128 گیگابایت</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی تا 256 گیگابایت</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی تا 1 ترابایت</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-900 mainMenu-sublist-item-main mb-2 d-flex align-items-center text-strong-2">
                        <a class="text-truncate" href="#">رزولوشن عکس</a>
                        <i class="icon-chevronLeft icon-fs-small"></i>
                    </li>

                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#"> تا 13 مگاپیکسل</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#"> تا 16 مگاپیکسل</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#"> تا 48 مگاپیکسل</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#"> تا 64 مگاپیکسل</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#"> تا 128 مگاپیکسل</a>
                    </li>

                    <li class="py-1 mainMenu-sublist-item color-gray-900 mainMenu-sublist-item-main mb-2 d-flex align-items-center text-strong-2">
                        <a class="text-truncate" href="#">گوشی براساس کاربری</a>
                        <i class="icon-chevronLeft icon-fs-small"></i>
                    </li>

                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی اقتصادی</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی میان رده</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی دانش آموزی</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی گیمینگ</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی پرچمدار</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی ضدآب</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی مناسب عکاسی</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">گوشی 5G</a>
                    </li>

                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">دو سیم کارت</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">Android(اندروید)</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">IOS</a>
                    </li>
                    <li class="py-1 mainMenu-sublist-item color-gray-500 text-medium">
                        <a class="text-truncate" href="#">سایر سیستم عامل ها</a>
                    </li>


                </ul>
            </div>
        </div>
    </div>
</div>