<footer class="border-t-gray-100 mt-12 pt-8">
    <div class="container-4xl px-5">
        <div class="d-flex justify-content-between">
            <a href="/">
                <img src="~/client/assets/images/logo/logo-fa.svg" class="w-p-100 footer-logo" />
            </a>

            <a class="gotoTop h-10 border-gray-200 radius-medium d-flex align-items-center text-strong px-4 color-gray-400">
                <span>بازگشت به بالا</span>
                <i class="icon-chevronUp me-2"></i>
            </a>
        </div>

        <div class="d-flex flex-md-row flex-column color-gray-700 text-medium mt-4 mb-8 mb-md-0">
            <span>تلفن پشتیبانی ۶۱۹۳۶۱۹۳ - ۰۲۱</span>
            <span class="px-5 color-gray-400 d-none d-md-flex">|</span>
            <span>۷ روز هفته، ۲۴ ساعته پاسخگوی شما هستیم</span>
        </div>

        <div class="py-11 d-none d-md-flex justify-content-around">
            <a class="d-flex flex-column align-items-center">
                <img src="~/client/assets/images/footer/express-delivery.svg" />
                <span class="text-subtitle color-gray-700">امکان تحویل اکسپرس</span>
            </a>
            <a class="d-flex flex-column align-items-center">
                <img src="~/client/assets/images/footer/cash-on-delivery.svg" />
                <span class="text-subtitle color-gray-700">امکان پرداخت در محل</span>
            </a>
            <a class="d-flex flex-column align-items-center">
                <img src="~/client/assets/images/footer/support.svg" />
                <span class="text-subtitle color-gray-700">۷ روز ﻫﻔﺘﻪ، ۲۴ ﺳﺎﻋﺘﻪ</span>
            </a>
            <a class="d-flex flex-column align-items-center">
                <img src="~/client/assets/images/footer/days-return.svg" />
                <span class="text-subtitle color-gray-700">هفت روز ضمانت بازگشت کالا</span>
            </a>
            <a class="d-flex flex-column align-items-center">
                <img src="~/client/assets/images/footer/original-products.svg" />
                <span class="text-subtitle color-gray-700">ﺿﻤﺎﻧﺖ اﺻﻞ ﺑﻮدن ﮐﺎﻟﺎ</span>
            </a>
        </div>

        <div class="d-flex flex-wrap flex-md-nowrap mb-8">
            <div class="d-flex flex-column flex-grow-1 w-p-50 w-p-lg-unset mb-2 gap-2">
                <p class="h5 color-gray-700 ">با مارکت پلیس</p>
                <a class="color-gray-500 text-medium-2">اتاق خبر مارکت پلیس</a>
                <a class="color-gray-500 text-medium-2">فروش در مارکت پلیس</a>
                <a class="color-gray-500 text-medium-2">فرصت‌های شغلی</a>
                <a class="color-gray-500 text-medium-2">گزارش تخلف در مارکت پلیس</a>
                <a class="color-gray-500 text-medium-2">تماس با مارکت پلیس</a>
                <a class="color-gray-500 text-medium-2">درباره مارکت پلیس</a>
            </div>
            <div class="d-flex flex-column flex-grow-1 w-p-50 w-p-lg-unset mb-2 gap-2">
                <p class="h5 color-gray-700 ">خدمات مشتریان</p>
                <a class="color-gray-500 text-medium-2">پاسخ به پرسش‌های متداول</a>
                <a class="color-gray-500 text-medium-2">رویه‌های بازگرداندن کالا</a>
                <a class="color-gray-500 text-medium-2">شرایط استفاده</a>
                <a class="color-gray-500 text-medium-2">حریم خصوصی</a>
                <a class="color-gray-500 text-medium-2">گزارش باگ</a>
            </div>

            <div class="d-none d-lg-flex flex-column flex-grow-1  mb-2 gap-2">
                <p class="h5 color-gray-700 ">راهنمای خرید از مارکت پلیس</p>
                <a class="color-gray-500 text-medium-2">نحوه ثبت سفارش</a>
                <a class="color-gray-500 text-medium-2">رویه ارسال سفارش</a>
                <a class="color-gray-500 text-medium-2">شیوه‌های پرداخت</a>
            </div>

            <div class="w-p-100 w-p-md-unset mt-8 mt-md-0">
                <div class="d-flex flex-row flex-md-column justify-content-between">
                    <span class="h5 color-gray-700 mb-4">همراه ما باشید!</span>

                    <div class="footer-socialLink d-flex mb-8">
                        <a class="ms-6 ms-lg-8"><i class="icon-instagram color-gray-400"></i></a>
                        <a class="ms-6 ms-lg-8"><i class="icon-twitter color-gray-400"></i></a>

                        <a class="ms-6 ms-lg-8"><i class="icon-linkedin color-gray-400"></i></a>

                        <a class="ms-6 ms-lg-8"><i class="icon-aparat color-gray-400"></i></a>

                    </div>
                </div>

                <p class="h5 color-gray-700 mb-3 d-none d-md-flex">
                    با ثبت ایمیل، از جدید‌ترین تخفیف‌ها با‌خبر شوید
                </p>

                <form class="footer-newslater-form d-flex h-12">
                    <input type="text" placeholder="ایمیل شما" class="bg-gray-100 radius-medium w-p-100 px-4" />
                    <button class="text-strong btn-disabled px-4 radius-medium me-2">ثبت</button>
                </form>
            </div>
        </div>

        <div class="footer-appLink d-flex flex-column flex-lg-row justify-content-lg-between align-items-center radius-medium px-5 py-2 py-lg-4">
            <div class="d-flex align-items-center">
                <img class="footer-appLink-logo" src="~/client/assets/images/logo/logo2.webp" />
                <span class="h3 color-white me-4">دانلود اپلیکیشن مارکت پلیس</span>
            </div>

            <div class="d-flex flex-wrap justify-content-center mt-4 mt-lg-0">
                <a class="ms-4">
                    <img src="~/client/assets/images/svg/footer/coffe-bazzar.svg" height="44px" />
                </a>
                <a class="ms-4">
                    <img src="~/client/assets/images/svg/footer/myket.svg" />
                </a>
                <a class="ms-4">
                    <img src="~/client/assets/images/svg/footer/sib-app.svg" />
                </a>

                <a class="footer-appLink-moreApp h-11 w-11 bg-white me-2 radius-small d-none d-lg-flex align-items-center justify-content-center">
                    <i class="icon-moreHorizontal color-gray-700"></i>
                </a>
            </div>

            <a class="color-white d-flex d-lg-none align-items-center text- mt-2">
                <span>اطلاعات بیشتر</span>
                <i class="icon-chevronLeft"></i>
            </a>
        </div>

        <div class="mt-6 border-t-gray-100 d-flex flex-column flex-lg-row py-8 gap-8">

            <div class="d-flex flex-column">
                <div class="textWithShowore overflow-hidden position-relative d-flex flex-column text-medium color-gray-500 ms-lg-12">
                    <h1 class="h3 color-gray-600">فروشگاه اینترنتی مارکت پلیس، بررسی، انتخاب و خرید آنلاین</h1>
                    <p>
                        یک خرید اینترنتی مطمئن، نیازمند فروشگاهی است که بتواند کالاهایی متنوع، باکیفیت و دارای
                        قیمت
                        مناسب را در مدت زمانی کوتاه به دست مشتریان خود برساند و ضمانت بازگشت کالا هم داشته باشد؛
                        ویژگی‌هایی که فروشگاه اینترنتی مارکت پلیس سال‌هاست بر روی آن‌ها کار کرده و توانسته از این
                        طریق مشتریان ثابت خود را داشته باشد.<br>
                        یکی از مهم‌ترین دغدغه‌های کاربران مارکت پلیس یا هر فروشگاه‌ اینترنتی دیگری، این است که
                        کالای
                        خریداری شده چه زمانی به دستشان می‌رسد. مارکت پلیس شیوه‌های مختلفی از ارسال را متناسب با
                        فروشنده کالا،‌ مقصد کالا و همچنین نوع کالا در اختیار کاربران خود قرار می‌دهد. هر یک از
                        <a>روش های ارسال دیجی کالا</a> شرایط و ویژگی‌های خاص خود را دارند که ممکن است گاهی برای
                        کاربران جدید، مبهم و پیچیده به نظر برسند. برای آگاهی بیشتر مشتریان از خدمات مارکت پلیس،
                        این
                        فروشگاه اینترنتی در بخشی از وب‌سایت خود راهنمای کاملی از شیوه‌‌های ارسال را به صورت ساده
                        و
                        به دور از پیچیدگی، قرار داده است که شامل 8 نوع ارسال کالا به روش‌های زیر است: ارسال
                        امروز،
                        دریافت حضوری، دریافت از گنجه، ارسال توسط فروشنده، ارسال عادی، ارسال کالاهای بزرگ، سنگین
                        و
                        فوق سنگین، ارسال سریع سوپرمارکتی، ارسال با پست
                    </p>

                    <h2 class="h5">کدام محصولات در مارکت پلیس قابل سفارش هستند؟</h2>
                    <p>
                        تقریبا می‌توان گفت محصولی وجود ندارد که مارکت پلیس برای مشتریان خود در سراسر کشور فراهم
                        نکرده
                        باشد. شما می‌توانید در تمامی روزهای هفته و تمامی شبانه روز یا در روزهای خاصی مثل حراج
                        شگفت
                        انگیز مارکت پلیس که محصولات دارای تخفیف عالی می‌شوند، سفارش خود را به سادگی ثبت کرده و در
                        روز
                        و محدوده زمانی مناسب خود، درب منزل تحویل بگیرید. بعضی از گروه‌های اصلی و زیر مجموعه‌های
                        پرطرفدار محصولات مارکت پلیس شامل مواردی می‌شود که در ادامه به معرفی آن‌ها می‌پردازیم که
                        امکان
                        ارسال امروز برای آن ها وجود دارد.
                    </p>

                    <h2 class="h5">کالای دیجیتال</h2>
                    <p>
                        انواع گوشی موبایل از برندهای مختلفی مثل آیفون، گوشی سامسونگ، گوشی نوکیا، گوشی شیائومی،
                        گوشی
                        هواوی، و...، انواع کنسول بازی ps4 و ps5، انواع تبلت‌های پرطرفدار مثل تبلت سامسونگ نوت
                        10،
                        انواع هندزفری مثل هندزفری بی سیم، تلوزیون از برندهای مختلف مثل تلویزیون سامسونگ، سونی
                        و...،
                        انواع مانیتور، کیس، کیبورد، مودم از برندهای مختلف مثل مودم ایرانسل، آنتن و ... تنها بخشی
                        از
                        محصولاتی هستند که زیر مجموعه کالای دیجیتال در مارکت پلیس قرار دارند.
                    </p>

                    <h2 class="h5">خودرو، ابزار و تجهیزات صنعتی</h2>
                    <p>
                        انواع خودروهای ایرانی و خارجی از برندهای مطرحی مثل هوندا، کیا و...، موتور سیکلت از
                        برندهایی
                        مثل کویر موتور و...، لوازم جانبی خودرو مثل سیستم صوتی تصویر، ضبط و...، لوازم یدکی مثل
                        دیسک و
                        صفحه کلاج و... و لوازم مصرفی خودرو مثل کفپوش سانا در این گروه قرار می‌گیرند.
                    </p>

                    <h2 class="h5">مد و پوشاک</h2>
                    <p>
                        محصولاتی مثل انواع لباس مثل لباس مجلسی زنانه و مردانه، لباس راحتی، لباس ورزشی، اکسسوری،
                        کیف،
                        کفش، عینک آفتابی، لباس زیر، شال و روسری و... جزو مواردی هستند که می‌توانید آن‌ها را از
                        برندهای مطرح ایرانی و خارجی موجود در دیجی کالا مثل آدیداس، نایکی، دبنهامز، آلدو، درسا
                        و...
                        خریداری کنید.
                    </p>

                    <h2 class="h5">اسباب بازی کودک و نوزاد</h2>
                    <p>
                        در این دسته از کالاهای مارکت پلیس، انواع لوازم بهداشتی و حمام کودک و نوزاد، انواع پوشاک و
                        کفش،
                        تبلت، اسباب‌بازی، لوازم اتاق خواب کودک، لوازم ایمنی، لوازم شخصی و غذا خوری و ... قرار
                        می‌گیرد تا خرید را برای پدر و مادرها به کاری سریع و آسان تبدیل کند.
                    </p>

                    <h2 class="h5">کالاهای سوپر مارکتی</h2>
                    <p>
                        هر چیزی از مواد خوراکی که به آن نیاز دارید، در سوپرمارکت مارکت پلیس پیدا می‌شود، محصولات
                        پرطرفداری مثل کره بادام‌زمینی، عسل، سس، قهوه، زعفران، شکلات، انواع نان و ... از برندهای
                        معتبر و معروفی مثل نستله، نوتلا، استارباکس، مزمز، چی توز و ... همگی در اختیار شما هستند
                        و تا
                        رسیدن به آشپزخانه شما تنها چند کلیک فاصله دارند.
                    </p>

                    <h2 class="h5">زیبایی و سلامت</h2>
                    <p>
                        انواع لوازم آرایش مثل لاک، رنگ مو، لوازم آرایش لب، چشم، صورت و... همگی در مارکت پلیس موجود
                        هستند. همچنین محصولات بهداشتی مثل انواع شامپو، کرم، ماسک صورت، ضد تعریق، ماسک مو و...،
                        انواع
                        لوازم شخصی برقی، ست هدیه، بهترین انواع عطر و اسپری، انواع زیورآلات طلا و نقره مثل سرویس
                        طلا،
                        سرویس نقره و... به همراه وسایل مراقبت شخصی طبی در گروه زیبایی و سلامت مارکت پلیس قرار
                        می‌گیرد. در این بخش برندهای مطرحی مثل اسنس، پنبه ریز، سینره و... حضور دارند.
                    </p>
                    <h2 class="h5">خانه و آشپزخانه</h2>
                    <p>
                        یکی از متنوع‌ترین بخش‌های مارکت پلیس، بخش لوازم خانه و آشپزخانه است که از محصولاتی مثل
                        صندلی
                        گیمینگ در بخش صندلی‌ها گرفته تا انواع مبل راحتی، انواع آبگرمکن مثل آبگرمکن بوتان،
                        لباسشویی‌های متنوع مثل انواع لباسشویی اسنوا، شیرآلات مختلف مثل شیرآلات قهرمان و...، ظروف
                        و
                        همچنین لوازم برقی آشپزخانه مثل توستر و... را شامل می‌شود و امکان خریدی عالی را برای
                        مشتریان
                        فراهم کرده است. در بخش لوازم خانگی مارکت پلیس، برندهای معتبری مثل تفال، اخوان، فیلیپس، ال
                        جی،
                        اسنوا، جی پلاس و... حضور دارند.
                    </p>
                    <h2 class="h5">کتاب، لوازم تحریر و هنر</h2>
                    <p>
                        بخش هنر، کتاب، رمان و لوازم تحریر مارکت پلیس نیز یکی از متنوع‌ترین بخش‌های این فروشگاه
                        اینترنتی است. انواع کتاب و مجله، کتاب زبان، بازی، لوازم تحریر با طرح‌های مختلف مانند
                        دختر
                        کفشدوزکی، سازهایی مثل پیانو، سنتور، هنگ درام و... با بهترین قیمت‌ها و از بهترین برندها
                        در
                        دسترس شما قرار دارند.
                    </p>
                    <h2 class="h5">ورزش و سفر</h2>
                    <p>
                        هر نوع وسیله و لباس ورزشی که فکرش را کنید، انواع وسایل کمپینگ و کوهنوردی، ساک و قمقمه
                        ورزشی
                        و... در این بخش قرار می‌گیرند. همچنین شما می‌توانید وسایل مد نظر خود را بر اساس نوع ورزش
                        (آبی، هوازی، بدنسازی و...) در دسته‌بندی‌های مارکت پلیس پیدا کنید.
                    </p>
                    <h2 class="h5">محصولات بومی و محلی</h2>
                    <p>
                        و در آخر مارکت پلیس از طریق به فروش رساندن محصولات بومی و سنتی متفاوتی مثل انواع خوراکی،
                        گلیم
                        و گبه، ابزار و ... تلاش کرده تا بین هنر ایرانی و متقاضیان آن کوتاه‌ترین راه را پیدا کند.
                        در
                        این بخش شما می‌توانید انواع محصولات از جمله ظروف زیبای مخصوص به سفره هفت‌سین و پذیرایی
                        از
                        مهمانان در روزهای نوروز، انواع آیینه و شمعدان و هر آن چیزی را که برای خلق زیبایی در
                        روزهای
                        بهاری به آن نیاز دارید، با قیمت مناسب و تنوع بسیار بالا انتخاب کنید. همچنین در صفحه
                        برچسب
                        ها، امکان مشاهده و خرید انواع محصولات با طرح های بومی وجود دارد. مارکت پلیس همچنین برای
                        اینکه
                        حال و هوای عید را به اعضای خود هدیه کند، تقویم ۱۴۰۱، انواع ایده عکس پروفایل عید نوروز،
                        آهنگ‌های عید نوروز و موزیک‌های شاد بهاری، وسایل مربوط به خانه‌تکانی و انواع لباس های عید
                        را
                        برای شما فراهم کرده است تا بتوانید در کنار خرید خود، از این حال و هوای تازه نهایت لذت را
                        ببرید.
                    </p>
                    <h2 class="h5">گزارش های سالیانه دیجی کالا</h2>
                    <p>
                        در راستای توجه ویژه به شفافیت به عنوان یکی از اصلی‌ترین ارزش‌های محوری مارکت پلیس، با شروع
                        سال
                        ۱۳۹۸ داستان‌پردازی با داده‌های آماری و ارائه گزارش‌های سالانه آغاز شد. مسیری که دستاورد
                        آن
                        تا امروز چندین گزارش سالانه و تخصصی مثل گزارش سالانه ۱۳۹۸، گزارش سالانه ۱۳۹۹ و گزارش
                        سالانه
                        ۱۴۰۰ مارکت پلیس هستند. علاوه بر این، گزارش منابع انسانی سال ۱۳۹۹، گزارش منابع انسانی سال
                        ۱۴۰۰
                        و همچنین گزارش کتاب مارکت پلیس، از دیگر گزارش‌های تخصصی مارکت پلیس به حساب می‌آیند. انتشار
                        این
                        گزارش‌ها امکان رصد شفاف‌تر و دقیق‌تر خدمات مارکت پلیس را فراهم می‌کند، وضعیت بازار آنلاین
                        کشور را به نمایش می‌گذارد و به تمامی کسب‌وکارهای ایرانی کمک می‌کند تا با فرایندهای فروش
                        و
                        عرضه آنلاین کالاهای خود بیشتر آشنا شوند.
                    </p>
                </div>

                <div class=" ">
                    <a class=" text-strong textWithShowore-btn-showMore color-secondary-500 d-flex align-items-center">
                        <span>مشاهده بیشتر</span>
                        <i class="icon-chevronLeft icon-fs-medium"></i>
                    </a>
                </div>
            </div>

            <div class="footer-enamad d-flex justify-content-center align-items-start me-lg-12">
                <a class="d-flex radius-medium border-gray-200 p-2 p-lg-4 me-2">
                    <img class="object-fit-contain" src="~/client/assets/images/footer/samandehi.webp" />
                </a>
                <a class="d-flex radius-medium border-gray-200 p-2 p-lg-4 me-2">
                    <img class="object-fit-contain" src="~/client/assets/images/footer/kasbokar.webp" />
                </a>
                <a class="d-flex radius-medium border-gray-200 p-2 p-lg-4 me-2">
                    <img class="object-fit-contain" src="~/client/assets/images/footer/enamad.png" />
                </a>
            </div>
        </div>

        <div class="border-t-gray-100 d-flex justify-content-center text-subtitle py-8 color-gray-500">
            برای استفاده از مطالب مارکت پلیس، داشتن «هدف غیرتجاری» و ذکر «منبع» کافیست. تمام حقوق اين وب‌سايت نیز
            برای شرکت نوآوران فن آوازه (فروشگاه آنلاین مارکت پلیس) است.
        </div>
    </div>

    <div class="bg-gray-100 d-none d-lg-flex">
        <div class="footer-partners d-flex flex-wrap container-4xl bg-gray-200">
            <a class="px-5 bg-gray-100  d-flex align-items-center  flex-grow-1">
                <img class="w-p-100" src="~/client/assets/images/footer/partners/digimag.svg" />
            </a>
            <a class="px-5 bg-gray-100  d-flex align-items-center flex-grow-1">
                <img class="w-p-100" src="~/client/assets/images/footer/partners/digipay.svg" />
            </a>
            <a class="px-5 bg-gray-100  d-flex align-items-center flex-grow-1">
                <img class="w-p-100" src="~/client/assets/images/footer/partners/digistyle.svg" />
            </a>
            <a class="px-5 bg-gray-100  d-flex align-items-center flex-grow-1">
                <img class="w-p-100" src="~/client/assets/images/footer/partners/digiplus.svg" />
            </a>
            <a class="px-5 bg-gray-100  d-flex align-items-center flex-grow-1">
                <img class="w-p-100" src="~/client/assets/images/footer/partners/digiclub.svg" />
            </a>
            <a class="px-5 bg-gray-100  d-flex align-items-center flex-grow-1">
                <img class="w-p-100" src="~/client/assets/images/footer/partners/jet.svg" />
            </a>
            <a class="px-5 bg-gray-100  d-flex align-items-center flex-grow-1">
                <img class="w-p-100" src="~/client/assets/images/footer/partners/magnet.svg" />
            </a>
            <a class="px-5 bg-gray-100  d-flex align-items-center flex-grow-1">
                <img class="w-p-100" src="~/client/assets/images/footer/partners/digiMehr.svg" />
            </a>

            <a class="px-5 bg-gray-100  d-flex align-items-center flex-grow-1">
                <img class="w-p-100" src="~/client/assets/images/footer/partners/diginext.svg" />
            </a>

            <a class="px-5 bg-gray-100  d-flex align-items-center flex-grow-1">
                <img class="w-p-100" src="~/client/assets/images/footer/partners/digiexpress.svg" />
            </a>
            <a class="px-5 bg-gray-100  d-flex align-items-center flex-grow-1">
                <img class="w-p-100" src="~/client/assets/images/footer/partners/ganjeh.svg" />
            </a>
            <a class="px-5 bg-gray-100  d-flex align-items-center flex-grow-1">
                <img class="w-p-100" src="~/client/assets/images/footer/partners/digify.svg" />
            </a>
            <a class="px-5 bg-gray-100  d-flex align-items-center flex-grow-1">
                <img class="w-p-100" src="~/client/assets/images/footer/partners/smartech.svg" />
            </a>
            <a class="px-5 bg-gray-100  d-flex align-items-center flex-grow-1">
                <img class="w-p-100" src="~/client/assets/images/footer/partners/digikala-business.svg" />
            </a>
            <a class="px-5 bg-gray-100  d-flex align-items-center flex-grow-1">
                <img class="w-p-100" src="~/client/assets/images/footer/partners/digikala-service.svg" />
            </a>

        </div>
    </div>
</footer>
