<div class="mobile-footer-fixed position-fixed border-t-gray-200 w-p-100 bg-white bottom-0 d-lg-none">
    <div class="d-flex py-1">
        <a class="mobile-footer-fixed-menu-item active d-flex flex-column align-items-center flex-grow-1">
            <i class="icon-home color-gray-400"></i>
            <i class="icon-homeFill color-gray-700"></i>
            <span class="color-gray-500 text-subtitle">خانه</span>
        </a>
        <a class="mobile-footer-fixed-menu-item  d-flex flex-column align-items-center flex-grow-1">
            <i class="icon-category color-gray-400"></i>
            <i class="icon-categoryFill color-gray-700"></i>
            <span class="color-gray-500 text-subtitle">دسته‌بندی</span>
        </a>
        <a class="mobile-footer-fixed-menu-item  d-flex flex-column align-items-center flex-grow-1">
            <div class="position-relative">
                <i class="icon-cart color-gray-400"></i>
                <i class="icon-cartFill color-gray-700"></i>
                <div class="cart-badge d-flex justify-content-center align-items-center position-absolute  bottom-0 bg-primary-500">
                    <span class="text-subtitle-strong color-white fanumber">۴</span>
                </div>
            </div>
            <span class="color-gray-500 text-subtitle">سبد خرید</span>
        </a>
        <a class="mobile-footer-fixed-menu-item  d-flex flex-column align-items-center flex-grow-1">
            <i class="icon-profile color-gray-400"></i>
            <i class="icon-profileFill color-gray-700"></i>
            <span class="color-gray-500 text-subtitle">دیجی‌کالای من</span>
        </a>
    </div>
</div>