

<!DOCTYPE html>
<html dir="rtl" data-theme="light">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/common/lib/izitoast/dist/css/iziToast.min.css">
    <link rel="stylesheet" href="~/auth/style/auth.min.css" asp-append-version="true">
</head>

<body>


    <div class="bg-shapes"></div>

    @RenderBody()

    <script src="~/common/lib/izitoast/dist/js/iziToast.min.js" asp-append-version="true"></script>
    <script src="~/auth/js/auth.js" asp-append-version="true"></script>

</body>
</html>
