@page
@model Web.Pages.Auth.Login.LoginMobileModel
@{
}
<div class="account-page d-flex align-items-center justify-content-center h-p-100 mx-auto ">
    <div class="border-lg-gray-200 radius-medium p-5 p-lg-8 w-p-100">
        <form action="">
            <a>
                <img class="h-10 w-p-100" src="assets/images/logo/logo.svg" />
            </a>

            <p class="mt-4 h4 ">ورود | ثبت‌نام</p>
            <p class="text-medium mt-4 color-gray-700">سلام!</p>
            <p class="text-medium mb-4 color-gray-700">لطفا شماره موبایل یا ایمیل خود را وارد کنید</p>
            <input class="input-focus-changeborder invalid w-p-100 text-medium-3  border-lg-gray-200 radius-medium px-4 h-12 w-p-100" />
            <p class="color-error-200 text-medium">لطفا این قسمت را خالی نگذارید</p>
            <button class="mt-lg-8 mt-6 bg-primary-500 text-button-2 color-white w-p-100 radius-medium h-12">
                ورود
            </button>
            <div class="text-subtitle mt-4 color-gray-700">
                ورود شما به معنای پذیرش<a class="mx-1 color-secondary-700">شرایط مارکت پلیس</a>و<a class="mx-1 color-secondary-700">قوانین حریم‌خصوصی</a>است

            </div>
        </form>


    </div>
</div>