.popover{
    top: 100%;
    left: calc(100% - 24px);
    display: none;

    &.opened{
        display: block;
    }
    &-container{
        box-shadow: 0 1px 5px rgba($color: #000000, $alpha: 0.2);

        >div:hover{
            background-color: $color-gray-100;
        }
    }
}

.popover-btn.hoverable{
    &:hover>.popover{
        display: block;
    }

    .popover:hover{
        display: block;
    }
}